.topBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.topBar li {
  float: right;

}

.topBar li a {
  display: block;
color: #ffc216;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #bec5d1;
}

.navBar li {
  float: right;
  border-left:1px solid black;
}

.navBar li:last-child {
  border-right: none;
}

.navBar li a {

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
text-shadow: 1px 1px black;
font-weight: bold;
}

.navBar li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #838383;
}

body{
background-image: url("Images/bg.jpg");
max-width: 100%;
height:auto;
background-size:100%;
background-repeat:no-repeat;
background-color: #bec5d1;
background-attachment: fixed;

}




.title { text-align: center;
font-size: 24px;
text-shadow: 1px 1px #314671;
color:white;
}

.buttons{text-align:center;
    
    margin-top: 300px;
}


.glow {
  font-size: 35px;
  color: #fff;
  text-align: center;
-webkit-text-stroke: 1px black;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #415682, 0 0 40px #415682, 0 0 50px #415682, 0 0 60px #415682, 0 0 70px #415682;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #455a85, 0 0 40px #455a85, 0 0 50px #455a85, 0 0 60px #455a85, 0 0 70px #455a85, 0 0 80px #455a85;
  }
}